<app-sidebar></app-sidebar>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="container">
      <div class="row">
        <div class="col">
          <div style="padding: 20px;">
            <mat-card style="margin:20px; background-color: black;color:white;">
                <mat-card-title>Perfil de Usuario</mat-card-title>
            </mat-card>
            <hr>
    
            <mat-card style="margin:20px">
                <mat-card-subtitle>Información</mat-card-subtitle>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Sitio</mat-label>
                      <input matInput value="COV-PLACE">
                    </mat-form-field>
                  
                    <table class="example-full-width" cellspacing="0"><tr>
                      <td><mat-form-field class="example-full-width">
                        <mat-label>Nombres</mat-label>
                        <input matInput [value]="usuario.nombres">
                      </mat-form-field></td>
                      <td><mat-form-field class="example-full-width">
                        <mat-label>Apellidos</mat-label>
                        <input matInput [value]="usuario.apellidos">
                      </mat-form-field></td>
                    </tr></table>
                  
                    <p>
                      <mat-form-field class="example-full-width">
                        <mat-label>Correo Electrónico</mat-label>
                        <textarea matInput [value]="usuario.correo_electronico" ></textarea>
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <mat-label>Fecha de Nacimiento</mat-label>
                        <textarea matInput [value]="usuario.fecha_nacimiento"></textarea>
                      </mat-form-field>
                    </p>
                    <table class="example-full-width" cellspacing="0"><tr>
                        <td><mat-form-field class="example-full-width">
                          <mat-label>Tipo Usuario</mat-label>
                          <input matInput [value]="usuario.nombre_tipo_usuario">
                        </mat-form-field></td>
                    </tr></table>
                    <table class="example-full-width" cellspacing="0"><tr>
                      <td><mat-form-field class="example-full-width">
                        <mat-label>Colonia</mat-label>
                        <input matInput [value]="usuario.nombre_colonia">
                      </mat-form-field></td>
                      <td><mat-form-field class="example-full-width">
                        <mat-label>Residencial</mat-label>
                        <input matInput [value]="usuario.nombre_residencial">
                      </mat-form-field></td>
                    </tr></table>
                  </form>
            </mat-card>
          </div>
        </div>
        <div class="col pt-3">
          <mat-card style="margin:20px; background-color: black;color:white;">
            <mat-card-title>
              <span class="material-icons" style="color:yellow">
                star
                </span>
                 Mis Reseñas</mat-card-title>
          </mat-card>
          <div class="row">
            <div class="col">
              RESEÑA USUARIO
            </div>
          </div>
          <hr>

        </div>
      </div>
    </div>
    
        

