/* google fonts */

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCRc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fABc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCBc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBxc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCxc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fChc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCRc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCBc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBxc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCxc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCRc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfABc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCBc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBxc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCxc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufA5qWr4xCCQ_k.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufJ5qWr4xCCQ_k.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufB5qWr4xCCQ_k.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufO5qWr4xCCQ_k.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufC5qWr4xCCQ_k.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufD5qWr4xCCQ_k.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufN5qWr4xCC.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CLwR2oefDofMY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CCwR2oefDofMY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CKwR2oefDofMY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CFwR2oefDofMY.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CJwR2oefDofMY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CIwR2oefDofMY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CGwR2oefDo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  
  html *{
      -webkit-font-smoothing: antialiased;
  }
  
  /* typography */
  
  h1,
  .h1 {
    font-size: 3.3125rem;
    line-height: 1.15em;
  }
  
  h2,
  .h2 {
    font-size: 2.25rem;
    line-height: 1.5em;
  }
  
  h3,
  .h3 {
    font-size: 1.5625rem;
    line-height: 1.4em;
  }
  
  h4 {
    font-size: 1.125rem;
    line-height: 1.5em;
  }
  
  h5,
  .h5 {
    font-size: 1.0625rem;
    line-height: 1.55em;
    margin-bottom: 15px;
  }
  
  h6,
  .h6 {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  p {
    font-size: 14px;
    margin: 0 0 10px;
  }
  
  .card-title, .footer-big h4, .footer-big h5, .footer-brand, .info-title, .media .media-heading, .title {
      font-weight: 700;
      font-family: Roboto Slab,Times New Roman,serif;
  }
  
  .card-title, .card-title a, .footer-big h4, .footer-big h4 a, .footer-big h5, .footer-big h5 a, .footer-brand, .footer-brand a, .info-title, .info-title a, .media .media-heading, .media .media-heading a, .title, .title a {
      color: #3C4862;
      text-decoration: none;
  }
  
  .title {
      margin-top: 30px;
      margin-bottom: 25px;
      min-height: 32px;
  }
  
  /* animtaions */
  
  @keyframes topbar-x {
      0% {
        top: 0px;
        transform: rotate(0deg);
      }
      45% {
        top: 6px;
        transform: rotate(145deg);
      }
      75% {
        transform: rotate(130deg);
      }
      100% {
        transform: rotate(135deg);
      }
    }
    @-webkit-keyframes topbar-x {
      0% {
        top: 0px;
        -webkit-transform: rotate(0deg);
      }
      45% {
        top: 6px;
        -webkit-transform: rotate(145deg);
      }
      75% {
        -webkit-transform: rotate(130deg);
      }
      100% {
        -webkit-transform: rotate(135deg);
      }
    }
    @-moz-keyframes topbar-x {
      0% {
        top: 0px;
        -moz-transform: rotate(0deg);
      }
      45% {
        top: 6px;
        -moz-transform: rotate(145deg);
      }
      75% {
        -moz-transform: rotate(130deg);
      }
      100% {
        -moz-transform: rotate(135deg);
      }
    }
    @keyframes topbar-back {
      0% {
        top: 6px;
        transform: rotate(135deg);
      }
      45% {
        transform: rotate(-10deg);
      }
      75% {
        transform: rotate(5deg);
      }
      100% {
        top: 0px;
        transform: rotate(0);
      }
    }
    @-webkit-keyframes topbar-back {
      0% {
        top: 6px;
        -webkit-transform: rotate(135deg);
      }
      45% {
        -webkit-transform: rotate(-10deg);
      }
      75% {
        -webkit-transform: rotate(5deg);
      }
      100% {
        top: 0px;
        -webkit-transform: rotate(0);
      }
    }
    @-moz-keyframes topbar-back {
      0% {
        top: 6px;
        -moz-transform: rotate(135deg);
      }
      45% {
        -moz-transform: rotate(-10deg);
      }
      75% {
        -moz-transform: rotate(5deg);
      }
      100% {
        top: 0px;
        -moz-transform: rotate(0);
      }
    }
    @keyframes bottombar-x {
      0% {
        bottom: 0px;
        transform: rotate(0deg);
      }
      45% {
        bottom: 6px;
        transform: rotate(-145deg);
      }
      75% {
        transform: rotate(-130deg);
      }
      100% {
        transform: rotate(-135deg);
      }
    }
    @-webkit-keyframes bottombar-x {
      0% {
        bottom: 0px;
        -webkit-transform: rotate(0deg);
      }
      45% {
        bottom: 6px;
        -webkit-transform: rotate(-145deg);
      }
      75% {
        -webkit-transform: rotate(-130deg);
      }
      100% {
        -webkit-transform: rotate(-135deg);
      }
    }
    @-moz-keyframes bottombar-x {
      0% {
        bottom: 0px;
        -moz-transform: rotate(0deg);
      }
      45% {
        bottom: 6px;
        -moz-transform: rotate(-145deg);
      }
      75% {
        -moz-transform: rotate(-130deg);
      }
      100% {
        -moz-transform: rotate(-135deg);
      }
    }
    @keyframes bottombar-back {
      0% {
        bottom: 6px;
        transform: rotate(-135deg);
      }
      45% {
        transform: rotate(10deg);
      }
      75% {
        transform: rotate(-5deg);
      }
      100% {
        bottom: 0px;
        transform: rotate(0);
      }
    }
    @-webkit-keyframes bottombar-back {
      0% {
        bottom: 6px;
        -webkit-transform: rotate(-135deg);
      }
      45% {
        -webkit-transform: rotate(10deg);
      }
      75% {
        -webkit-transform: rotate(-5deg);
      }
      100% {
        bottom: 0px;
        -webkit-transform: rotate(0);
      }
    }
    @-moz-keyframes bottombar-back {
      0% {
        bottom: 6px;
        -moz-transform: rotate(-135deg);
      }
      45% {
        -moz-transform: rotate(10deg);
      }
      75% {
        -moz-transform: rotate(-5deg);
      }
      100% {
        bottom: 0px;
        -moz-transform: rotate(0);
      }
    }
    
      .nav-open .navbar-collapse {
      -webkit-transform: translate3d(0px, 0, 0);
      -moz-transform: translate3d(0px, 0, 0);
      -o-transform: translate3d(0px, 0, 0);
      -ms-transform: translate3d(0px, 0, 0);
      transform: translate3d(0px, 0, 0);
    }
    .nav-open .navbar-translate {
      -webkit-transform: translate3d(-230px, 0, 0);
      -moz-transform: translate3d(-230px, 0, 0);
      -o-transform: translate3d(-230px, 0, 0);
      -ms-transform: translate3d(-230px, 0, 0);
      transform: translate3d(-230px, 0, 0);
    }
    
    /* navbar */
  
  .navbar {
      border: 0;
      border-radius: 3px;
      padding: 10px 0;
      margin-bottom: 20px;
      color: #555;
      background-color: #fff!important;
      box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
      z-index: 9999;
      transition: all .15s ease 0s;
  }
  
  .navbar.navbar-transparent {
      background-color: transparent!important;
      box-shadow: none;
      padding-top: 25px;
      color: #fff;
  }
  
  .navbar.fixed-top {
      border-radius: 0;
  }
  
  .navbar .navbar-brand {
      position: relative;
      color: inherit;
      height: 50px;
      font-size: 1.125rem;
      font-weight: 300;
      line-height: 30px;
      padding: .625rem 0;
  }
  
  .navbar .navbar-toggler .navbar-toggler-icon {
      position: relative;
      width: 22px;
      height: 2px;
      vertical-align: middle;
      outline: 0;
      display: block;
      border-radius: 1px;
      background-color: #fff;
  }
  
  .navbar .navbar-toggler .navbar-toggler-icon+.navbar-toggler-icon {
    margin-top: 4px;
  }
  
  .navbar .navbar-toggler .navbar-toggler-icon:nth-child(2) {
      top: 0px;
      -webkit-animation: topbar-back 500ms linear 0s;
      -moz-animation: topbar-back 500ms linear 0s;
      animation: topbar-back 500ms 0s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    .navbar .navbar-toggler .navbar-toggler-icon:nth-child(3) {
      opacity: 1;
    }
    .navbar .navbar-toggler .navbar-toggler-icon:nth-child(4) {
      bottom: 0px;
      -webkit-animation: bottombar-back 500ms linear 0s;
      -moz-animation: bottombar-back 500ms linear 0s;
      animation: bottombar-back 500ms 0s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    .navbar .navbar-toggler.toggled .navbar-toggler-icon:nth-child(2) {
      top: 6px;
      -webkit-animation: topbar-x 500ms linear 0s;
      -moz-animation: topbar-x 500ms linear 0s;
      animation: topbar-x 500ms 0s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    .navbar .navbar-toggler.toggled .navbar-toggler-icon:nth-child(3) {
      opacity: 0;
    }
    .navbar .navbar-toggler.toggled .navbar-toggler-icon:nth-child(4) {
      bottom: 6px;
      -webkit-animation: bottombar-x 500ms linear 0s;
      -moz-animation: bottombar-x 500ms linear 0s;
      animation: bottombar-x 500ms 0s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    
    .navbar .navbar-nav .nav-item .nav-link {
      position: relative;
      color: inherit;
      padding: .9375rem;
      font-weight: 400;
      font-size: 12px;
      border-radius: 3px;
      line-height: 20px;
      text-transform: uppercase;
  }
  
  .navbar .navbar-nav .nav-item .nav-link:not(.btn) .material-icons {
      margin-top: -7px;
      top: 3px;
      position: relative;
      margin-right: 3px;
  }
  
  .navbar .navbar-nav .nav-item .nav-link .material-icons {
      font-size: 1.25rem;
      max-width: 24px;
      margin-top: -1.1em;
  }
  
  .navbar .navbar-nav .nav-item .nav-link:not(.btn) .material-icons {
      margin-top: -7px;
      top: 3px;
      position: relative;
      margin-right: 3px;
  }
  .navbar .navbar-nav .nav-item .nav-link .fa, .navbar .navbar-nav .nav-item .nav-link .material-icons {
      font-size: 1.25rem;
      max-width: 24px;
      margin-top: -1.1em;
  }
  
  .navbar .navbar-nav .nav-item .nav-link:not(.btn-just-icon) .fa {
      position: relative;
      top: 2px;
      margin-top: -4px;
      margin-right: 4px;
  }
  
  a .material-icons {
      vertical-align: middle;
  }
  
  /* dropdown */
  
  .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      float: left;
      min-width: 10rem;
      margin: .125rem 0 0;
      font-size: 1rem;
      color: #212529;
      text-align: left;
      background-color: #fff;
      background-clip: padding-box;
      border-radius: .25rem;
  }
  
  .dropdown-menu.dropdown-with-icons .dropdown-item {
      padding: .75rem 1.25rem .75rem .75rem;
  }
  
  .dropdown-menu .dropdown-item, .dropdown-menu li>a {
      position: relative;
      width: auto;
      display: flex;
      flex-flow: nowrap;
      align-items: center;
      color: #333;
      font-weight: 400;
      text-decoration: none;
      font-size: .8125rem;
      border-radius: .125rem;
      margin: 0 .3125rem;
      -webkit-transition: all 150ms linear;
      -moz-transition: all 150ms linear;
      -o-transition: all 150ms linear;
      -ms-transition: all 150ms linear;
      transition: all 150ms linear;
      min-width: 7rem;
      padding: .625rem 1.25rem;
      overflow: hidden;
      line-height: 1.428571;
      text-overflow: ellipsis;
      word-wrap: break-word;
  }
  
  .dropdown-menu.dropdown-with-icons .dropdown-item .material-icons {
      vertical-align: middle;
      font-size: 24px;
      position: relative;
      margin-top: -4px;
      top: 1px;
      margin-right: 12px;
      opacity: .5;
  }
  
  .dropdown-menu .dropdown-item:hover, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover {
      box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
      background-color: #9c27b0;
      color: #FFF;
  }
  
  .page-header {
      height: 100vh;
      background-position: 50%;
      background-size: cover;
      margin-top: 35px;
      padding: 0;
      border: 0;
      display: flex;
      align-items: center;
  }
  
  .header-filter:after, .header-filter:before {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      left: 0;
      top: 0;
      content: "";
  }
  
  .header-filter:before {
      background: rgba(0,0,0,.5);
  }
  .page-header.header-small {
      height: 65vh;
      min-height: 65vh;
  }
  
  
  .page-header .title, .page-header>.container {
      color: #fff;
  }
  
  
  .main {
      background: #fff;
      position: relative;
      z-index: 3;
  }
  
  .main-raised {
      margin: -60px 30px 0;
      border-radius: 6px;
      box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
  }
  
  
  [class*=contactus-], [class*=features-], [class*=pricing-], [class*=projects-], [class*=team-], [class*=testimonials-] {
      padding: 80px 0;
  }
  
  .pricing-2 .nav-pills {
      display: inline-flex;
      margin-bottom: 50px;
  }
  
  .nav-pills, .nav-tabs {
      border: 0;
      border-radius: 3px;
      padding: 0 15px;
  }
  
  
  .nav .nav-item {
      position: relative;
  }
  
  .nav-pills.nav-pills-rose .nav-item .nav-link.active, .nav-pills.nav-pills-rose .nav-item .nav-link.active:focus, .nav-pills.nav-pills-rose .nav-item .nav-link.active:hover {
      background-color: #e91e63;
      box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(233,30,99,.6);
      color: #fff;
  }
  
  .nav-pills .nav-item .nav-link {
      line-height: 24px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      min-width: 100px;
      text-align: center;
      color: #555;
      transition: all .3s;
      border-radius: 30px;
      padding: 10px 15px;
  }
  
  .nav-pills:not(.flex-column) .nav-item+.nav-item:not(:first-child) {
      margin-left: 5px;
  }
  
  
  .nav-pills .nav-item .nav-link:hover {
      background-color: hsla(0,0%,78%,.2);
  }
  
  .card {
      border: 0;
      margin-bottom: 30px;
      margin-top: 30px;
      border-radius: 6px;
      color: rgba(0,0,0,.87);
      background: #fff;
      width: 100%;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  
  .card-pricing {
      text-align: center;
  }
  
  .card-pricing .card-body {
      padding: 15px!important;
      margin: 0!important;
  }
  
  
  .card-pricing .card-title {
      margin-top: 30px;
      font-size: 3.3125rem !important;
      font-weight: 700 !important;
      color: #3c4858;
  }
  
  .card-pricing ul {
      list-style: none;
      padding: 0;
      max-width: 240px;
      margin: 10px auto;
  }
  
  .card-pricing ul li {
      font-weight: 300;
      color: #999;
      text-align: center;
      padding: 12px 0;
      border-bottom: 1px solid hsla(0,0%,60%,.3);
  }
  
  
  .card-pricing ul li b {
      color: #3c4858;
      font-weight: 700;
  }
  
  
  .card-pricing h1 small:first-child {
      position: relative;
      top: -17px;
      font-size: 26px;
  }
  
  .card-pricing h1 small {
      font-size: 18px;
      display: inline-flex;
      height: 0;
  }
  
  small {
      font-size: 75%;
      color: #777;
  }
  
  .card-pricing.card-background .card-category, .card-pricing.card-background [class*=text-], .card-pricing[class*=bg-] .card-category, .card-pricing[class*=bg-] [class*=text-] {
      color: #fff!important;
  }
  
  .card[class*=bg-], .card[class*=bg-] .card-title, .card[class*=bg-] .card-title a, .card[class*=bg-] .icon i, .card [class*=header-], .card [class*=header-] .card-title, .card [class*=header-] .card-title a, .card [class*=header-] .icon i {
      color: #fff;
  }
  
  .card-pricing.card-background ul li, .card-pricing[class*=bg-] ul li {
      color: #fff;
      border-color: hsla(0,0%,100%,.3);
  }
  
  .card[class*=bg-] .card-body h1 small, .card[class*=bg-] .card-body h2 small, .card[class*=bg-] .card-body h3 small, .card[class*=bg-] h1 small, .card[class*=bg-] h2 small, .card[class*=bg-] h3 small {
      color: hsla(0,0%,100%,.8);
  }
  
  .card-pricing.card-background ul li b, .card-pricing[class*=bg-] ul li b {
      color: #fff;
      font-weight: 700;
  }
  
  .card-pricing ul li:last-child {
      border: 0;
  }
  
  card .card-category {
      margin-top: 10px;
  }
  
  .text-info {
      color: #00bcd4!important;
  }
  .card-plain {
      background: transparent;
      box-shadow: none;
  }
  
  .card[class*=bg-], .card[class*=bg-] .card-body {
      border-radius: 6px;
  }
  
  .card.bg-rose, .card .card-header-rose, .card.card-rotate.bg-rose .back, .card.card-rotate.bg-rose .front {
      background: linear-gradient(60deg,#ec407a,#c2185b);
  }
  
  .card[class*=bg-], .card[class*=bg-] .card-body {
      border-radius: 6px;
  }
  
  
  .info {
      max-width: 360px;
      margin: 0 auto;
      padding: 70px 0 30px;
  }
  
  .info-horizontal .icon {
      float: left;
      margin-top: 24px;
      margin-right: 10px;
  }
  .icon.icon-info {
      color: #00bcd4;
  }
  
  
  .icon.icon-rose {
      color: #e91e63;
  }
  
  .icon.icon-success {
      color: #4caf50;
  }
  .icon.icon-success {
      color: #4caf50;
  }
  
  .info-horizontal .description {
      overflow: hidden;
      font-weight: 300;
  }
  
  
  .info-horizontal .icon>i {
      font-size: 2.25rem;
  }
  
  .info .info-title {
      color: #3c4858;
      margin: 1.75rem 0 .875rem;
  }
  
  
  .info p {
      color: #999;
  }
  
  
  footer{
    padding: 1.9375rem 0;
  }
  
  footer p{
   color: #3e4857;
   font-weight: 300;
   margin-bottom: 0px;
  }
  
  footer p a {
      color: #4c4854;
      font-weight: 400;
  }
  
  footer p a:hover{
    color: #8f37aa;
    text-decoration: none;
  }
  /* buttons */
  
  .btn {
      position: relative;
      padding: 12px 30px;
      margin: .3125rem 1px;
      font-size: .75rem;
      font-weight: 400;
      line-height: 1.428571;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      border-radius: .2rem;
      outline: 0;
      transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
      will-change: box-shadow,transform;
  }
  
  .btn, .btn.btn-default {
      color: #fff;
      background-color: #999;
      border-color: #999;
      box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14), 0 3px 1px -2px hsla(0,0%,60%,.2), 0 1px 5px 0 hsla(0,0%,60%,.12) !important;
  }
  
  .btn.btn-default:active, .btn.btn-default:focus, .btn.btn-default:hover, .btn:active, .btn:focus, .btn:hover {
      box-shadow: 0 14px 26px -12px hsla(0,0%,60%,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px hsla(0,0%,60%,.2);
  }
  
  .btn.btn-round {
      border-radius: 30px;
  }
  
  .btn.btn-rose {
      color: #fff;
      background-color: #e91e63;
      border-color: #e91e63;
      box-shadow: 0 2px 2px 0 rgba(233,30,99,.14), 0 3px 1px -2px rgba(233,30,99,.2), 0 1px 5px 0 rgba(233,30,99,.12);
  }
  
  .btn.btn-rose.focus, .btn.btn-rose:focus, .btn.btn-rose:hover {
      color: #fff;
      background-color: #ea2c6d;
      border-color: #b8124a;
  }
  
  
  .btn.btn-rose:active, .btn.btn-rose:focus, .btn.btn-rose:hover {
      box-shadow: 0 14px 26px -12px rgba(233,30,99,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(233,30,99,.2);
  }
  .btn.btn-white, .btn.btn-white:focus, .btn.btn-white:hover {
      background-color: #fff;
      color: #999;
  }
  
  @media (max-width: 991px){
  .navbar .navbar-translate {
      width: 100%;
      position: relative;
      display: flex;
      -ms-flex-pack: justify!important;
      justify-content: space-between!important;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: transform .5s cubic-bezier(.685,.0473,.346,1);
      -moz-transition: transform .5s cubic-bezier(.685,.0473,.346,1);
      -o-transition: transform .5s cubic-bezier(.685,.0473,.346,1);
      -ms-transition: transform .5s cubic-bezier(.685,.0473,.346,1);
      transition: transform .5s cubic-bezier(.685,.0473,.346,1);
  }
  
  .navbar-collapse {
      position: fixed;
      display: block;
      top: 0;
      height: 100vh;
      width: 230px;
      right: 0;
      margin-right: 0!important;
      z-index: 1032;
      visibility: visible;
      background-color: #fff;
      overflow-y: visible;
      border-top: none;
      text-align: left;
      padding-right: 0;
      padding-left: 0;
      max-height: none!important;
      -webkit-transform: translate3d(230px,0,0);
      -moz-transform: translate3d(230px,0,0);
      -o-transform: translate3d(230px,0,0);
      -ms-transform: translate3d(230px,0,0);
      transform: translate3d(230px,0,0);
      -webkit-transition: all .5s cubic-bezier(.685,.0473,.346,1);
      -moz-transition: all .5s cubic-bezier(.685,.0473,.346,1);
      -o-transition: all .5s cubic-bezier(.685,.0473,.346,1);
      -ms-transition: all .5s cubic-bezier(.685,.0473,.346,1);
      transition: all .5s cubic-bezier(.685,.0473,.346,1);
  }
  
  .navbar-collapse .navbar-nav .nav-item .nav-link {
      color: #3C4858;
      margin: 5px 15px;
  }
  
  .navbar-collapse .navbar-nav .nav-item:after {
      width: calc(100% - 30px);
      content: "";
      display: block;
      height: 1px;
      margin-left: 15px;
      background-color: #e5e5e5;
  }
  
  .navbar-collapse .dropdown-toggle:after {
      position: absolute;
      right: 16px;
      margin-top: 8px;
  }
  
  .navbar .dropdown .dropdown-menu, .navbar .dropdown.show .dropdown-menu {
      background-color: transparent;
      border: 0;
      padding-bottom: 15px;
      transition: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      transform: none!important;
      width: auto;
      margin-bottom: 15px;
      padding-top: 0;
      height: 300px;
      animation: none;
      opacity: 1;
      overflow-y: scroll;
  }
  .navbar .dropdown-menu .dropdown-item {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
  }
  
  
  }