<body class="pricing sidebar-collapse">
    <div class="pt-0 mt-0 page-header header-small" data-parallax="true" style="background-image:url('https://paginaswebconcordia.com/wp-content/uploads/2017/02/estrategias-de-marketing-para-supermercados.jpg');">
      <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <h1 class="title">Covid Place</h1>
                  <h4>Buscar Producto</h4>
                  <input type="text" placeholder="Buscar" class="form-control" [(ngModel)]="buscadorGlobal"> <button (click)="buscarGlobal()">Buscar</button>
              </div>
          </div>
      </div>
    </div>
    <div class="main main-raised">
        <div class="container">
          <div class="pricing-2">
            
            <div class="row" *ngFor="let item of productos">
  
              <div class="col-md-6">
                <div class="card card-pricing card-plain">
                  <div class="card-body">
                    <h6 class="card-category text-info">{{item.nombre}}</h6>
                    <h1 class="card-title"><small>Q</small> {{item.precio}}<small></small></h1>
                    <ul>
                      <li>{{item.descripcion}}</li>
                      <li><b>Colonia</b> {{item.nombre_colonia}}</li>
                      <li><b>Residencial</b> {{item.nombre_residencial}}</li>
                    </ul>
                    <button (click)="enviarMensaje(item.nombre,item.nombres)" class="btn btn-rose btn-raised btn-round">
                      Comprar
                    </button>
                  </div>
                </div>
              </div>
  
              <div class="col-md-6">
                <div class="card card-pricing card-raised bg-rose">
                  <div class="card-body">
                    <img src="{{item.imagen}}" style="max-width: 275px; max-height: 275px; border-radius: 10%;">
                  </div>
                </div>
              </div>
  
                
            </div>
          </div>
          <hr>
  
        </div>
  
      </div>
  </body>