<app-sidebar></app-sidebar>

<div class=" container m-4">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <form>
                <h1><span class="badge badge secondary">{{mensaje}}</span></h1>
                <div class="form-group">
                    <h2>Publicar un nuevo Producto</h2>
                     <hr>
                  </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="">Nombre Producto</label>
                    <input type="text" [(ngModel)]="producto.Nombre" name="Nombre" class="form-control" placeholder="Producto">
                  </div>
                  <div class="form-group col-md-6">
                    <label >Precio</label>
                    <input type="text" name="descripcion" [(ngModel)]="producto.precio" class="form-control" placeholder="0.0">
                  </div>
                </div>
                <div class="form-group">
                  <label >Descripción Producto</label>
                  <input type="text" class="form-control" [(ngModel)]="producto.descripcion" name="descripcion"placeholder="Descripcion">
                </div>
                <div class="form-group">
                  <label>Imagen</label>
                  <input type="text" [(ngModel)]="producto.imagen" name="imagen" class="form-control"  placeholder="url">
                </div>
                <div class="form-row">
                  
                  <div class="form-group col-md-4">
                    <label >Usuario</label>
                    <input type="text" name="idUsuario" [(ngModel)]="producto.idUsuario" class="form-control" disabled>
                  </div>
                </div>
                <button (click)="guardarProducto()" class="btn btn-primary btn-block">Publicar Producto</button>
              </form>
        </div>
        <div class="col-md-6 col-auto">
            <div class="row">
                <img src={{producto.imagen}} style="width: 350px; height: 350px;" class="img-thumbnail">
            </div>
            <div class="row">
                <h3 class="text-muted">{{producto.Nombre}}</h3>
            </div>
            <div class="row">
                <h4 class="text-muted">{{producto.descripcion}}</h4>
            </div>
        </div>
        
    </div>
</div>