<div class="user_card">
  <div style="display: flex; justify-content: center">
    <div class="brand_logo_container">
      <img src="assets/escudo10.png" class="brand_logo" alt="Logo">
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="form_container">
    <div style="margin-bottom: 15px">
      <div style="display: flex; justify-content: center">
        <div class="input-group-prepend">
          <button mat-icon-button><mat-icon>person</mat-icon></button>
        </div>
        <mat-form-field class="example-form-field">
          <mat-label>Correo</mat-label>
          <input matInput type="text" [(ngModel)]="user">
          <button mat-button *ngIf="user" matSuffix mat-icon-button aria-label="Clear" (click)="user=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div style="margin-bottom: 15px;">
      <div style="display: flex; justify-content: center">
        <div class="input-group-prepend">
          <button mat-icon-button><mat-icon>vpn_key</mat-icon></button>
        </div>
        <mat-form-field class="example-form-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="password">
          <button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div style="text-align: center">
      
      <button mat-raised-button color="accent" (click)="login()">Ingresar</button>
    </div>
    <div style="text-align: center;">
      <button class="g-signin2" color="accent" data-onsuccess="onSignIn()">Ingresar con Google</button><button mat-raised-button color="pimary"  color="accent" (click)="iniciarSesion()"><mat-icon>login</mat-icon></button>
      <br>
      <span style="color:red; font-weight: bold;">{{errorAutenticacion}}</span>
    </div>
    
  </div>
</div>
