<app-sidebar></app-sidebar>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row d-flex justify-content-center">
                <div class="col align-items-center">
                    <div class="row">
                        <h2 class="text-muted">
                            <span class="material-icons">
                                assignment_ind
                                </span>
                                Mis conversaciones</h2>
                    </div>
                    
                    <div class="row mb-1 justify-content-center" style="width: 100%;" *ngFor="let item of listaChat">
                        <div class="mat-card" style="width:50%">
                            <h4> <mat-icon style="color:blue">account_circle</mat-icon>{{item.Nombre2}}</h4>
                            <hr>
                            <p class="p-2">{{item.Mensaje}}</p>
                            <hr>
                            <a target="_blank" href="https://api.whatsapp.com/send?phone=50248083654&text=hola,%20¿qué%20tal%20estás?">
                                <small>Responder por Whatsapp <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c543.png" width="20px" height="20px"> </small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <hr>
            <div class="h5"><span style="color:red" class="material-icons">error</span> RECOMENDACIONES</div>
                <hr class="p-0 m-0">
                <hr class="p-0 m-0">
            <div class="mat-card p-2">
                <h4>1. Reúnete en lugares públicos o concurridos.</h4>
                <hr>
                <h4>2. Denuncia cualquier mensaje sospechoso.</h4>
                <hr>
                <h4>3. Verifica el perfil del comprador o vendedor.</h4>
                <hr>
            </div>
            <hr >

        </div>
    </div>
    
</div>