<div>
  <div style="position: absolute; top: 10px; left: 10px">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  </div>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'push'"
                 [fixedInViewport]="true" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard">Comprar</a>
        <a mat-list-item routerLink="/perfil">Mi Perfil</a>
        <a mat-list-item routerLink="/crearproducto">Publicar Producto</a>
        <a mat-list-item routerLink="/chat">Mensajes</a>
        <a mat-list-item routerLink="/">Salir</a>
<!--        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>-->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
