<div class="container" style="height:100%">
    <div class="row" style="height:100%">
        <h3>Mensaje para {{data.usuariodestino}}</h3>
        <hr>
        <span class="small">Se iniciará una conversación para que te contactes con la persona del producto.</span>
        <input class="form-control mb-2" type="text" value="Me interesa el producto {{data.nombre}}">
        <hr>
        <div class="row justify-content-center">
            <div class="col-6">
                <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
            </div>
            <div class="col-6">
                <button mat-raised-button color="primary" (click)="enviar()">Enviar</button>
            </div>
        </div>
    </div>
</div>